ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/bghome.jpg");

}

.text {
  position:absolute;
  height:auto;
  width:90vw;
  z-index: -1;
}

.circle {
  width: 37%;
/*  display: inline-block;*/
  vertical-align: middle; 

display:block;
margin:auto;


}


ion-menu .content-sidemenu {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}



ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios .content-sidemenu {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-label {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  font-weight: bold;
}


ion-list-header {
  background: var(--ion-color-dark);
  color: var(--ion-color-contrast);
}

ion-list {
  background: var(--ion-color-dark);
  color: var(--ion-color-contrast);
}


ion-item {
  --background: var(--ion-color-primary);
  --border-width: #ecaf02 !important;
  text-align: center;
}

ion-list-header {
  text-align: center;
  align-items: baseline;
}




p {
  text-align: center;
}

ion-list {
  height: 100%;
}

ion-item.selected {
  --color: #edde02;
}

.tit-header-menu {
  margin-top: 0 !important;

  font-weight: bold;
  color: white;
}

.content-sidemenu {
  background: var(--ion-color-dark);
  --background: var(--ion-color-dark);
}


ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-dark), 0.1);
}

ion-menu.ios ion-item.selected {
  --background: rgba(var(--ion-color-dark), 0.1);
}

.item-menu {
  background: black;
}

.toolbar-container {
  visibility: collapse !important;
}









      .nav {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin-left: 20px; }
         .nav li {
          margin-bottom: 10px; }
          .nav li a {
            display: block;
            padding: 10px;
            background: #EC7703;
            font-family: "Didact Gothic", sans-serif;
            font-size: 25px;
            color: #fff;
            font-weight: lighter;
            letter-spacing: 1px;
            transition: all 0.2s ease; }
             .nav li a:hover {
              background: #d76f08; }


.info {
  grid-template-rows: 50px 100px 40px 60px;

        position: relative;
        width: calc(70% - 240px);
        /* width: 500px */
        /* height: 500px */
        transform: scale(1);
        display: inline-block;
        
        padding-bottom: 36%;
        overflow: hidden; 

      }

.imgFoot{
      width: 30%;
      height: 30%;

}

.footer {
  display: table;
  width: 20%;
  height: 120px;
  background: #fff;
  padding: 40px; }
  


 
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
