
<ion-content  [fullscreen]="true" >
  <div class="content" >
	<div class="circle" align="center"><img src="assets/img/	ambisome-1.svg"></div>
		<ul class="nav">
  			<li>
  				<a target="_blank" routerLink="/home">
             Cálculo de dosificación Ambisome</a></li>
             <li>
             	<a target="_blank" href="http://dreamlabs.cl/clientes/ambisome/pdf/FIProfesional_AMBISOME_13_11_20.pdf">Folleto de Información Profesional</a></li>
		</ul>
  </div>
</ion-content>
<!-- Footer without a border -->
<ion-footer  >
<card>
    <div class="wrapper">
         <div class="imgFoot">
             <img src="assets/img/gilead.svg">
         </div>
         <span>
                 GILEAD, y el logo de GILEAD son marcas registradas de Gilead Sciences, Inc. o sus campañías <br>
                 relacionadas ©2020 Gilead Science, Inc. Todos los derechos reservados
        </span>
         <div class="imgFoot">
             <img src="assets/img/gador.svg" >
         </div>
    </div>          
 </card>
</ion-footer>
 
 
 